@model Ta3lim.Database.Stage

@{
    ViewBag.Title = "معلومات";
}

<h2>معلومات</h2>

<div>
    <h4>مرحلة</h4>
    <hr />
    
        <h2>
            @Html.DisplayNameFor(model => model.StageName)
        </h2>

        <p>
            @Html.DisplayFor(model => model.StageName)
        </p>

        <h2>
            @Html.DisplayNameFor(model => model.SDate)
        </h2>

        <p>
            @Html.DisplayFor(model => model.SDate)
        </p>

        <h2>
            @Html.DisplayNameFor(model => model.EDate)
        </h2>

        <p>
            @Html.DisplayFor(model => model.EDate)
        </p>

        <h2>
            @Html.DisplayNameFor(model => model.Employee.name)
        </h2>

        <p>
            @Html.DisplayFor(model => model.Employee.name)
        </p>

    
</div>
<p>
    @Html.ActionLink("تعديل", "Edit", new { id = Model.id }) |
    @Html.ActionLink("العودة إلى اللائحة", "Index")
</p>
