@model Ta3lim.Database.Student

@{
    ViewBag.Title = "Create";
}



<div ng-controller="ApStudentCtrl" ng-show="ShowForm" class="ng-cloak">
    <h2>Create</h2>
    <form name="StCrForm"  ng-submit="StudentCreate()" novalidate autocomplete="off" >
        @Html.AntiForgeryToken()

        <div class="form-horizontal">
            <h4>Student</h4>
            <hr />
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })

            <div class="form-group">
                @Html.LabelFor(model => model.BDate, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    <input type="date" class="form-control" name="BDate" id="BDate" ng-model="BDate" required />
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.Name, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    <input type="text" class="form-control" name="Name" id="Name" ng-model="Name" required />
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.Surname, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    <input type="text" class="form-control" name="Surname" id="Surname" ng-model="Surname" required />
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.Certificate, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    <input type="text" class="form-control" name="Certificate" id="Certificate" ng-model="Certificate" required />
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.Mark, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    <input type="number" class="form-control" name="Mark" id="Mark" ng-model="Mark" required />
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.State, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    <input type="text" class="form-control" name="State" id="State" ng-model="State" required />
                </div>
            </div>

            <div class="form-group">
                <label class="control-label col-md-2">Center</label>
                <div class="col-md-10">
                    @*<select class="form-control" id="Centerid" name="Centerid" >
                            <option ng-repeat="One in Centers">{{One.Center}}</option>
                        </select>*@
                    @Html.DropDownList("Centerid", null, htmlAttributes: new { @class = "form-control", ng_model = "Centerid" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.Stageid, "Stageid", htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @*<select class="form-control" id="Stageid" name="Stageid" >
                            <option ng-repeat="One in Stages">{{One.Stage}}</option>

                        </select>*@

                    @Html.DropDownList("Stageid", null, htmlAttributes: new { @class = "form-control", ng_model = "Stageid" })
                    @Html.ValidationMessageFor(model => model.Stageid, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.Regimentid, "Regimentid", htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @*<select class="form-control" id="Regimentid" name="Regimentid" >
                            <option ng-repeat="One in Regiments">{{One.Regiment}}</option>
                        </select>*@
                    @Html.DropDownList("Regimentid", null, htmlAttributes: new { @class = "form-control", ng_model = "Regimentid" })
                    @Html.ValidationMessageFor(model => model.Regimentid, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.SDate, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    <input type="date" class="form-control" name="SDate" id="SDate" ng-model="SDate" required />
                </div>
            </div>

            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <input type="submit" value="Create" class="btn btn-default" ng-disabled="!StCrForm.$valid" />
                </div>
            </div>


            @*form is : {{StCrForm.$valid}}*@
        </div>
    </form>
    <div class="col-md-2">

    </div>
    <div class="col-md-10">
        <div ng-show="Warning" class="ng-cloak">
            <div class="alert alert-warning alert-dismissible" role="alert">
                <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                ! يرجى التأكد من صحة المعلومات
            </div>
        </div>

        <div ng-show="Success" class="ng-cloak">
            <div class="alert alert-success alert-dismissible" role="alert">
                <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                تمت اضافة الطالب
            </div>
        </div>
    </div>
    <div>
        @Html.ActionLink("العودة إلى اللائحة", "Index")
    </div>
</div>