@model IEnumerable<Ta3lim.Database.Student>

@{
    ViewBag.Title = "لائحة الطلاب";
}
<div ng-controller="SearchCtrl">

    <h2>لائحة الطلاب</h2>

@if (Session["Managment"] != null)
{
    if ((bool)Session["Managment"] == true)
    {
        <p>
            @Html.ActionLink("انشاء جديد", "Create")
        </p>
    }
}
    <div>
        <input type="text" name="search" id="search" ng-change="StudentSearchBox()" ng-model="StudentSearchBoxData" />
        <input type="date" name="searchdate" id="searchdate" ng-change="StudentSearchBox()" ng-model="StudentSearchBoxDate" />
    </div>
    <table class="table">
        <tr>

            <th></th>
            <th>
                @Html.DisplayNameFor(model => model.Stage.StageName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Regiment.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Center.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.State)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Mark)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Certificate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Surname)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>




            <th>
                @Html.DisplayNameFor(model => model.BDate)
            </th>

        </tr>

        @foreach (var item in Model)
        {
            <tr ng-hide="StudentRazorForm">
                <td>
                    @Html.ActionLink("تعديل", "Edit", new { id = item.id }) |
                    @Html.ActionLink("معلومات", "Details", new { id = item.id }) |
                    @Html.ActionLink("حذف", "Delete", new { id = item.id })
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Stage.StageName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Regiment.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Center.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.EDate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.SDate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.State)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Mark)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Certificate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.BDate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Surname)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>







                <td>
                    @Html.DisplayFor(modelItem => item.BDate)
                </td>
            </tr>
        }
        <tr ng-repeat="Exam in Exams" ng-cloak ng-show="StudentAngularForm">
            <td>
                <a href="/Students/Edit/{{Exam.ID}}">تعديل</a> |
                <a href="/Students/Details/{{Exam.ID}}">معلومات</a> |
                <a href="/Students/Delete/{{Exam.ID}}">حذف</a>

            </td>
            <td>{{Exam.StageName}}</td>
            <td>{{Exam.Regiment}}</td>
            <td>{{Exam.Center}}</td>
            <td>{{Exam.EDate | date:'MM/p/yyyy'}}</td>
            <td>{{Exam.SDate | date:'MM/p/yyyy'}}</td>
            <td>{{Exam.State}}</td>
            <td>{{Exam.Mark}}</td>
            <td>{{Exam.Certificate}}</td>
            <td>{{Exam.BDate | date:'MM/p/yyyy'}}</td>
            <td>{{Exam.Surname}}</td>
            <td>{{Exam.Name}}</td>


        </tr>

    </table>
</div>