@model IEnumerable<Ta3lim.Database.ExamType>

@{
    ViewBag.Title = "لائحة انواع الامتحان";
}

<h2>لائحة انواع الامتحان</h2>
@if (Session["Basics"] != null)
{
    if ((bool)Session["Basics"] == true)
    {
        <p>
            @Html.ActionLink("انشاء جديد", "Create")
        </p>
    }
}
<table class="table">
    <tr>
        <th></th>
        <th>
            @Html.DisplayNameFor(model => model.Type)
        </th>
        
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.ActionLink("تعديل", "Edit", new { id = item.id }) |
                @Html.ActionLink("معلومات", "Details", new { id = item.id }) |
                @Html.ActionLink("حذف", "Delete", new { id = item.id })
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Type)
            </td>

        </tr>
    }

</table>
