@model Ta3lim.Database.EmployeeType

@{
    ViewBag.Title = "Delete";
}

<h2>حذف</h2>

<h3>هل انت متاكد من ذحف النوع؟</h3>
<div>
    <h4>نوع موظف</h4>
    <hr />
    
        <h2>
            @Html.DisplayNameFor(model => model.Type)
        </h2>

        <p>
            @Html.DisplayFor(model => model.Type)
        </p>

        <h2>
            @Html.DisplayNameFor(model => model.Basics)
        </h2>

        <p>
            @if (Model.Basics !=null && Model.Basics == true)
            {
                @:نعم
            }
            else
            {
                @:لا
            }
        </p>

        <h2>
            @Html.DisplayNameFor(model => model.Managment)
        </h2>

        <p>
            @if (Model.Managment != null && Model.Managment == true)
            {
                @:نعم
            }
            else
            {
                @:لا
            }

        </p>

        <h2>
            @Html.DisplayNameFor(model => model.Guidence)
        </h2>

        <p>
            @if (Model.Guidence != null && Model.Guidence == true)
            {
                @:نعم
            }
            else
            {
                @:لا
            }
        </p>

        <h2>
            @Html.DisplayNameFor(model => model.Teaching)
        </h2>

        <p>
            @if (Model.Teaching != null && Model.Teaching == true)
            {
                @:نعم
            }
            else
            {
                @:لا
            }
        </p>

        <h2>
            @Html.DisplayNameFor(model => model.Observing)
        </h2>

        <p>
            @if (Model.Observing != null && Model.Observing == true)
            {
                @:نعم
            }
            else
            {
                @:لا
            }
        </p>

    

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="حذف" class="btn btn-default" /> |
            @Html.ActionLink("العودة إلى اللائحة", "Index")
        </div>
    }
</div>
