@model Ta3lim.Database.Center

@{
    ViewBag.Title = "Create";
}

<h2>انشاء</h2>


@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <h4>المركز</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            <div class="col-md-10">
                @Html.EditorFor(model => model.Name, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })
            </div>
            @Html.LabelFor(model => model.Name, htmlAttributes: new { @class = "control-label col-md-2" })


        </div>

        <div class="form-group">
            <div class="col-md-10">
                @Html.EditorFor(model => model.Place, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Place, "", new { @class = "text-danger" })
            </div>
            @Html.LabelFor(model => model.Place, htmlAttributes: new { @class = "control-label col-md-2" })


        </div>

        <div class="form-group">
            <div class="col-md-10">
                @Html.EditorFor(model => model.Desc, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Desc, "", new { @class = "text-danger" })
            </div>
            @Html.LabelFor(model => model.Desc, htmlAttributes: new { @class = "control-label col-md-2" })


        </div>

        <div class="form-group">
            <div class="col-md-10">
                @Html.EditorFor(model => model.State, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.State, "", new { @class = "text-danger" })
            </div>
            @Html.LabelFor(model => model.State, htmlAttributes: new { @class = "control-label col-md-2" })


        </div>

        <div class="form-group">
            <div class="col-md-10">
                @Html.EditorFor(model => model.HolesN, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.HolesN, "", new { @class = "text-danger" })
            </div>
            @Html.LabelFor(model => model.HolesN, htmlAttributes: new { @class = "control-label col-md-2" })


        </div>

        <div class="form-group">
            <div class="col-md-10">
                @Html.DropDownList("Managerid", null, htmlAttributes: new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.Managerid, "", new { @class = "text-danger" })
            </div>
            @Html.LabelFor(model => model.Managerid, "Managerid", htmlAttributes: new { @class = "control-label col-md-2" })
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="انشاء" class="btn btn-default" />
            </div>
        </div>
    </div>
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
